<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>

<!--/* Include Cq's jQuery */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='cq.jquery'}" data-sly-unwrap/>

<!--/* Include the site client libraries */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='clientlibs.example.clientlib.main'}" data-sly-unwrap/>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='clientlibs.example.embed'}" data-sly-unwrap/>
<!--/* Won't Work in Publish Environment */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='clientlibs.example.clientlib.components'}" data-sly-unwrap/>
