<!--/* Include Cq's jQuery */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='cq.jquery'}" data-sly-unwrap/>

<!--/* Include the site client libraries */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='clientlibs.example.clientlib.main'}" data-sly-unwrap/>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='clientlibs.example.dependencies'}" data-sly-unwrap/>
